// stylesheet for sdemos.com
// by: stphndemos

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end css reset */


body {
}

p {
    line-height : 1.40em;
}

ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}

.content {
    font-family : Arial, Helvetica, sans-serif;
    font-size   : 17px;
    color       : #333;
    margin      : 50px auto 0px auto;
    width       : 1000px;
}

.squisher {
    margin : 0px 20px;
}

.sidebar {
    margin : 0;
    width  : 200px;
    float  : left;
}

.name {
    font-size      : 26px;
    margin         : 0 1px;
    padding-bottom : 10px;
    border-bottom  : 1px solid black;
}

.name a {
    text-decoration : none;
    color           : #000;
}

.pic_container {
    float         : left;
    margin-bottom : 10px;
}

.pic {
    width  : 198px;
    height : auto;
    border : 1px solid #006;
}

.navbar {
    overflow   : hidden;
    margin-top : 10px;
}

.navbar li {
    margin-bottom : 12px;
    font-size     : 18px;
}

.navbar a:link, .navbar a:visited {
    text-decoration : none;
    color           : #333;
}

.navbar a:hover, .navbar a:active {
    color : #999;
}

.main {
    margin-left : 240px;
}

.main a:link, .main a:visited {
    text-decoration : none;
    border-bottom   : 1px solid #c0c0c0;
    color           : #333;
}

.main a:hover, .main a:active {
    text-decoration : none;
    border-bottom   : 1px solid #c0c0c0;
    color           : #999;
}

.page-title {
}

.projects li {
    padding : 5px 0px;
}

.projects p {
    margin : 5px 20px;
}

.post-info {
    font-size : 15px;
}
